<div class="p-fluid">
    <form action="" (ngSubmit)="onSubmit($event)">
        <div class="p-grid">
            <p-card class="p-lg-6 p-md-12 p-col-12">
                <div class="p-field">
                    <label for="name">Nombre:</label>
                    <input id="name" formControlName="name" pInputText>
                </div>
                <div class="p-field">
                    <label for="file">Requisito:</label>
                    
                    <p-fileUpload #fubauto mode="basic" name="file" chooseLabel="Seleccionar"></p-fileUpload>      
              </div>

                    <div class="p-field-radiobutton">
                        <p-radioButton name="is_required" value="true"  [(ngModel)]="is_required" inputId="is_required_true"></p-radioButton>
                        <label for="is_required_true">Requerido</label>
                    </div>
                    <div class="p-field-radiobutton">
                        <p-radioButton name="is_required" value="false" [(ngModel)]="is_required" inputId="is_required_false"></p-radioButton>
                        <label for="is_required_false">Opcional</label>
                    </div>
        
                    <div class="p-field p-col">
                        <button pButton pRipple type="submit" id="btnSaveExit" 
                        label="Guardar"
                        class="p-button-success p-button-raised" 
                        icon="pi pi-save">
                    </button>
                </div>
            </p-card>
 
    </div>
    </form>
</div>

