<div class="card">
  <h5>Estudiante</h5>
  <p-tabView>
    <p-tabPanel
      header="Certificado de inscripción"
      leftIcon="pi pi-file-pdf"
      tooltip=""
    >
      <button
        pButton
        pRipple
        type="button"
        label="Generar certificado"
        iconPos="right"
        icon="pi pi-download"
        class="p-button-success p-button-raised btn"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        label="Subir certificado"
        iconPos="right"
        icon="pi pi-upload"
        class="p-button-upload p-button-raised btn"
      ></button>
    </p-tabPanel>
  </p-tabView>
</div>
