<!-- {{formPlanningIn.value|json}} -->

<div class="p-fluid">
    <form [formGroup]="formPlanningIn" (ngSubmit)="onSubmit($event)">
                <div class="p-grid">
                    <div class="p-field p-lg-8 p-md-12 p-col-12">
                        <label for="name">
                            <i class="p-error">*</i> Nombre:
                            <i *ngIf="nameField.valid" class="pi pi-check-circle icon-valid"></i>
                            <i *ngIf="nameField.invalid && (nameField.touched || nameField.dirty)"
                                class="pi pi-times-circle icon-invalid"></i>
                        </label>
                        <input id="name" formControlName="name" pInputText>
                        <div *ngIf="nameField.errors && nameField.touched">
                            <small *ngIf="nameField.hasError('required')" id="name-help-1" class="p-error">
                                {{messageService.fieldRequired}}
                            </small>
                        </div>
                    </div>
                    <div class="p-field p-lg-4 p-md-12 p-col-12">
                        <label for="number">
                            <i class="p-error">*</i> Número de Convocatoria:
                            <i *ngIf="numberField.valid" class="pi pi-check-circle icon-valid"></i>
                            <i *ngIf="numberField.invalid && (numberField.touched || numberField.dirty)"
                                class="pi pi-times-circle icon-invalid"></i>
                            
                        </label>
                        <p-inputNumber name="number" formControlName="number" placeholder="número de convocatoria" ></p-inputNumber>
                        <div *ngIf="numberField.errors && numberField.touched">
                            <small *ngIf="numberField.hasError('required')" id="number-help-1" class="p-error">
                                {{messageService.fieldRequired}}
                            </small>
                        </div>
                    </div>
                </div>
                <div class="p-field">
                    <label for="event">
                        <i class="p-error">*</i>  Evento:
                        <i *ngIf="eventField.valid" class="pi pi-check-circle icon-valid"></i>
                        <i *ngIf="eventField.invalid && (eventField.touched || eventField.dirty)"
                            class="pi pi-times-circle icon-invalid"></i>    
                       
                    </label>
                    <input name="event" formControlName="event" placeholder="convocatoria, inscripción, revisión etc" pInputText>
                    <div *ngIf="eventField.errors && eventField.touched">
                        <small *ngIf="eventField.hasError('required')" id="event-help-1" class="p-error">
                            {{messageService.fieldRequired}}
                        </small>
                    </div>
                </div>
                <!-- <div class="p-lg-6 p-md-12 p-col-12"> -->

                        <div class="p-field">
                            <label for="startDate">
                                <i class="p-error">*</i>  Fecha Inicial:
                                <i *ngIf="startDateField.valid" class="pi pi-check-circle icon-valid"></i>
                                <i *ngIf="startDateField.invalid && (startDateField.touched || startDateField.dirty)"
                                    class="pi pi-times-circle icon-invalid"></i>    
                            </label>
                            <app-date id="startDate" name="startDate" formControlName="start_date"></app-date>
                            <div *ngIf="startDateField.errors && startDateField.touched">
                                <small *ngIf="startDateField.hasError('required')" id="start_date-help-1" class="p-error">
                                    {{messageService.fieldRequired}}
                                </small>
                            </div>
                        </div>
                        <div class="p-field">
                            <label for="endDate">
                                
                                <i class="p-error">*</i>  Fecha Final:
                                <i *ngIf="endDateField.valid" class="pi pi-check-circle icon-valid"></i>
                                <i *ngIf="endDateField.invalid && (endDateField.touched || endDateField.dirty)"
                                    class="pi pi-times-circle icon-invalid"></i>    
                            </label>
                            <app-date id="endDate" name="endDate" formControlName="end_date"></app-date>
                            <div *ngIf="endDateField.errors && endDateField.touched">
                                <small *ngIf="endDateField.hasError('required')" id="end_date-help-1" class="p-error">
                                    {{messageService.fieldRequired}}
                                </small>
                            </div>
                        </div>
     

                <div class="p-field">
                    <label for="description">
                        <i class="p-error">*</i> Descripción:
                        <i *ngIf="descriptionField.valid" class="pi pi-check-circle icon-valid"></i>
                        <i *ngIf="descriptionField.invalid && (descriptionField.touched || descriptionField.dirty)"
                            class="pi pi-times-circle icon-invalid"></i>
                    </label>
                
                    <textarea pInputTextarea name="description" id="description" formControlName="description" rows="4"></textarea>
                    <div *ngIf="descriptionField.errors && descriptionField.touched">
                        <small *ngIf="descriptionField.hasError('required')" id="description-help-1" class="p-error">
                            {{messageService.fieldRequired}}
                        </small>
                        <small *ngIf="descriptionField.hasError('minlength')" id="description-help-2" class="p-error">
                            Mínimo de caracteres es {{descriptionField.errors.minlength.requiredLength}}.
                        </small>
                    </div>
                    
                </div>
                <div class="p-formgrid p-grid">
                    <div class="p-field p-col">
                        <button pButton pRipple type="submit" id="btnSaveExit" 
                                label="Guardar y Salir"
                                class="p-button-success p-button-raised" 
                                icon="pi pi-save">
                        </button>
                    </div>
                    <div *ngIf="!idField.value" class="p-field p-col">
                        <button pButton pRipple type="button" id="btnSaveContinue" 
                                label="Guardar y Crear Nueva" 
                                class="p-button-raised"
                                icon="pi pi-arrow-right" 
                                (click)="onSubmit($event,true)">
                        </button>
                    </div>
                </div>
    
        
    </form>
</div>

