<div class="p-grid">
    <div class="p-col-12">
        <app-requirements-list *ngIf="!requirementDialog" 
        [requirementsIn]="requirements" 
        [flagRequirements]="flagRequirements"
        [paginatorIn]="paginator" 
        [formRequirementIn]="formRequirement"
        (requirementsOut)="requirements=$event" 
        (displayOut)="requirementDialog=$event" 
        (formRequirementOut)="formRequirement=$event"
        (paginatorOut)="getRequirements($event)">    
        </app-requirements-list>

        <p-dialog [(visible)]="requirementDialog" [style]="{width: '650px'}" header="Requerimiento" [modal]="true"
                  styleClass="p-fluid" (onHide)="RequirementDialog=false">
            <app-requirements-form
                    [requirementsIn]="requirements"
                    [formRequirementIn]="formRequirement"
                    (requirementsOut)="requirements=$event"
                    (paginatorAdd)="paginator.total = paginator.total + $event"
                    (displayOut)="requirementDialog=$event">
            </app-requirements-form>
        </p-dialog>

    </div>
</div>